.user-card{
  border: 1px solid;
  padding-left: 5px;
}

.user-card:hover{
  cursor: pointer;
  background-color: yellow;
}

.user-card:focus {
  background-color: yellow;
}
.highlight{
  color: #2196f3;
  font-weight: bold;
}

.user-list{
  width: 344px;
  margin-left: 40%;
  margin-top: 2px;
  max-height: 300px;
  overflow-y: scroll;
}

.search{
  width: 319px;
  padding-left: 20px;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 40%;
  background: url(./search-icon.png) no-repeat;
  
}

.user-id{
  font-weight: 500;
}

.user-name{
  font-style: italic;
}

.empty-card {
  margin-left: 40%;
}

.highlightbox{
  background-color: yellow;
}

.border-top-bottom{
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  margin: 2px;
  list-style-type: none;
}