
.searchBox{
  left: 0;
  right: 0;
  display: block;
  text-align: center;
}
.searchBox input {
  min-width: 300px;
  height: 30px;
  padding-left: 10px;
  color: darkgray;
  background-color: #dfdfdffc;
  border: none;
}

.searchBox img {
  height: 10px;
}

.active{
  background-color: yellow;
}

.user-id{
  font-weight: 500;
}

.user-name{
  font-style: italic;
}

.empty-card {
  margin-left: 40%;
}
.user-card{
  border: 1px solid;
  padding-left: 5px;
}